{{ define "AcquisitionApiEndpoint" }}
{
    "endpoint": "{{ .Endpoint }}",
    "method": "{{ .METHOD }}",
    "output_encoding": "no-op",
    "extra_config": {
        "github.com/devopsfaith/krakend/http": {
            "return_error_details": true
        }
    },
    "input_query_strings": ["*"],
    "headers_to_pass": [
        "x-forwarded-for",
        "x-real-ip",
        "user-agent"
    ],
    "backend": [
        {
            "url_pattern": "{{ .BackendUrlPattern }}",
            "encoding": "json",
            "sd": "static",
            "method": "{{ .METHOD }}",
            "extra_config": {
                "github.com/devopsfaith/krakend/http": {
                    "return_error_details": true
                },
                "github.com/devopsfaith/krakend-ratelimit/juju/proxy": {
                    "maxRate": 100,
                    "capacity": 200,
                    "strategy": "token-bucket"
                },
                "github.com/devopsfaith/krakend/logging": {
                    "level": "INFO",
                    "prefix": "[Acquisition API]",
                    "stdout": true
                },
                "github.com/devopsfaith/krakend-cors": {
                    "allow_origins": ["*"],
                    "allow_methods": ["GET", "POST", "PUT", "DELETE"],
                    "max_age": "12h"
                }
            },
            "host": ["{{ .BackendHost }}"],
            "disable_host_sanitize": true,
            "headers_to_pass": [
                "x-forwarded-for",
                "x-real-ip",
                "user-agent"
            ]
        }
    ]
}
{{ end }}
